include partials/statics
include partials/client-statics

doctype html
html(lang='en' ontouchstart)
  head
    title Staticify Test
    link(rel='st')
    +clientStyles
    +styles('/styles/landing.css')

  body
    main(role='main')
      h1 Staticify Test
      p If you can see a Cat, a list of Posts, a console log which says 'exec', then your setup is working.

      section(role='section')
        article(role='article')
          h2 Cat
            figure#cat
              img(src=staticPath('/images/arthur-the-cat-by-mercy.jpg') alt='Arthur the Cat')#cat
              figcaption
                a(href='https://commons.wikimedia.org/wiki/User:Mercy') Mercy
                | #{' © '}
                | 2007 - present

      section(role='section')
        article(role='article')
          +clientApp
    +clientScript
    +scripts('/scripts/landing.js')
